<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo-container">
      <img src="assets/images/spllogo.png" alt="Logo" class="logo">
      <span class="brand-text">Admin Dashboard</span>
    </div>
  </div>

  <div class="sidebar-menu">
    <ng-container *ngFor="let item of menuItems; trackBy: trackByPath">
      <div class="menu-item" [class.has-submenu]="item.children" (click)="toggleSubmenu(item)">
        <span class="material-symbols-outlined">{{item.icon}}</span>
        <span class="menu-text">{{item.title}}</span>
        <span class="material-symbols-outlined arrow" *ngIf="item.children">
          {{item.expanded ? 'expand_less' : 'expand_more'}}
        </span>
      </div>

      <div class="submenu" *ngIf="item.children && item.expanded">
        <a *ngFor="let child of item.children; trackBy: trackByPath" 
           [routerLink]="[child.path]"
           routerLinkActive="active"
           class="menu-item submenu-item">
          <span class="material-symbols-outlined">{{child.icon}}</span>
          <span class="menu-text">{{child.title}}</span>
        </a>
      </div>
    </ng-container>
  </div>

  <div class="sidebar-footer">
    <a (click)="logout()" class="menu-item">
      <span class="material-symbols-outlined">logout</span>
      <span class="menu-text">Logout</span>
    </a>
  </div>
</aside> 